<div class="app-card-container">
  <div class="card-body">
    <h1>About Me</h1>

	<hr>

	<div class="row">
	  <div class="col-md-5">
			<%= image_tag "profile.jpg", width: 300, alt: "my-profile-picture" %>
	  </div>

	  <div class="col-md-7">
        <p>I'm a selftaught Developer, Boyfriend to a wonderful Woman enjoying everydays life to the fullest and striving to be the best version of myself.</p>
	  </div>
	</div>
  </div>
</div>
