<h1>Hi, <%= current_user.first_name if current_user %></h1>
<h1>Blog Posts</h1>
<h2><%= @blog.inspect %></h2>
<br>
<h1>Skills</h1>
<h2><%= @skills.inspect %></h2>
<h1>My Portfolio</h1>
<h2><%= @portfolio.inspect %></h2>



