<div class="album text-muted">
    <div class="container">
    	<div class="row sortable">

		    <h2><%= link_to 'Create new Item', new_portfolio_page_path if logged_in?(:site_admin) %></h2>

		    <%= render 'portfolios' %>

        </div>
    </div>
</div>